img.no-border,
a.no-border img {
    border: 0 !important;
    box-shadow: none !important;
}

img.no-background,
a.no-background img {
  background: none !important;
}

img.img-half-right {
  float: right;
  width: 30%;
  height: auto;
  margin-left: 20px;
}
